html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

li,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button,
input[type=submit] {
  cursor: pointer;
  background: 0 0;
}

button:focus,
input:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  font-family: Poppins,sans-serif;
  font-size: 16px;
  line-height: 1.687;
  color: #323232;
}

body p,
html p {
  letter-spacing: 1.15px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--fluid {
  max-width: unset;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -1000000px;
  background: 0 0;
  font-size: 0;
}

.benefits-card:hover circle {
  fill: #f78434;
}

.benefits-card:hover path {
  fill: #fff;
}

.benefits-card:hover ellipse {
  fill: #fff;
}

.benefits__h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: .5px;
  margin-bottom: 2px;
}

.benefits-card__icon {
  margin-bottom: 6px;
}

.benefits-card__icon circle {
  fill: rgba(88,190,191,.2);
  transition: fill .18s ease-in;
}

.benefits-card__icon path {
  fill: #58bebf;
  transition: fill .18s ease-in;
}

.benefits-card__icon ellipse {
  fill: #58bebf;
  transition: fill .18s ease-in;
}

.benefits {
  padding: 57px 0 85px;
  text-align: center;
}

.benefits__heading {
  margin-bottom: 58px;
}

.benefits__card-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 35px;
}

.burger-button {
  position: relative;
  z-index: 19;
  width: 30px;
  height: 30px;
  background-color: #f78434;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: background-color .18s ease-in;
}

.burger-button:hover {
  background-color: #eb6f0b;
}

.burger__line {
  position: relative;
  width: 22px;
  height: 3px;
  background-color: #fff;
}

.burger-button.burger-button--active .burger__line {
  background-color: transparent;
}

.burger__line::before {
  position: absolute;
  content: "";
  top: -7px;
  width: 22px;
  height: 3px;
  background-color: #fff;
}

.burger-button.burger-button--active .burger__line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top .2s linear,transform .2s ease-in .2s;
}

.burger__line::after {
  position: absolute;
  content: "";
  top: 7px;
  width: 22px;
  height: 3px;
  background-color: #fff;
}

.burger-button.burger-button--active .burger__line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top .2s linear,transform .2s ease-in .2s;
}

.button {
  display: inline-block;
  width: 172px;
  height: 58px;
  border-radius: 29px;
  background-color: #f78434;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  transition: background-color .18s ease-in;
}

.button:hover {
  background-color: #eb6f0b;
}

.button--form {
  width: 157px;
}

.button--white-black {
  color: #323232;
  background-color: #fff;
}

.button--white-black:hover {
  color: #fff;
  background-color: #323232;
}

.button--play {
  position: relative;
  padding-left: 20px;
}

.button--play::before {
  position: absolute;
  top: 24px;
  left: 30px;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
}

.button--serve {
  background-color: #f78434;
  color: #fff;
}

.card-info {
  max-width: 300px;
  height: 141px;
  padding: 33px 29px 32px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 4px 20px 42px -2px rgba(0,0,0,.12);
}

.card-info__icon {
  width: 61px;
  margin: 0 20px 0 1px;
}

.card-info__text p {
  line-height: 26px;
  letter-spacing: 1.13px;
}

.card-info__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .8px;
}

.clients {
  padding-top: 50px;
  padding-bottom: 46px;
}

.clients__row {
  display: flex;
  justify-content: space-between;
}

.clients__img {
  width: unset;
}

.contact {
  margin-top: 84px;
  padding-top: 162px;
  padding-bottom: 1px;
  color: #fff;
  background: url(../img/contacts/bg.svg) center no-repeat;
}

.wrap {
  display: flex;
}

.contact__info {
  margin-top: -3px;
  margin-bottom: 55px;
  display: inline-block;
}

.contact__title {
  max-width: 359px;
  margin-bottom: 15px;
}

.contact__description {
  max-width: 342px;
  margin-bottom: 29px;
}

.img-wrapper {
  position: relative;
  left: 174px;
}

.contact__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 33.19vw;
}

.contact__img--bgnd {
  position: absolute;
  bottom: 0;
  left: -80px;
  z-index: 3;
  width: 51.59vw;
}

.cta {
  padding-top: 77px;
  padding-bottom: 74px;
}

.cta__block {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #58bebf;
}

.cta__img {
  width: 555px;
  margin-top: 60px;
}

.cta__img img {
  border-top: 24px solid #fff;
  border-right: 24px solid #fff;
  border-top-right-radius: 21.6px;
}

.cta__text-wrap {
  position: relative;
  overflow: hidden;
  padding-left: 96px;
  background: url(../img/cta/oval-bottom-left.svg) bottom left -186px no-repeat,url(../img/cta/oval-top-right.svg) top right no-repeat;
}

.cta__text {
  width: 459px;
  padding-top: 93px;
  padding-right: 90px;
  margin-bottom: 30px;
  color: #fff;
}

.cta__text p {
  padding-top: 15px;
}

.cta__button-row {
  display: flex;
  justify-content: space-between;
  width: 364px;
}

.footer {
  padding-top: 90px;
  padding-bottom: 70px;
}

.footer__inner {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4,auto);
  column-gap: 88px;
}

.footer__social {
  max-width: 306px;
  margin-right: 130px;
}

.social__descript {
  margin-bottom: 40px;
}

.footer__logo {
  width: 167px;
  margin-bottom: 18px;
}

.footer__logo.logo img {
  margin-right: 18px;
}

.social__media {
  width: 184px;
  display: flex;
  justify-content: space-between;
}

.social__media a:hover img {
  opacity: .8;
}

.inner__item {
  padding-top: 5px;
}

.inner__item li {
  margin-bottom: 13px;
}

.inner__item a {
  font-size: 14px;
  line-height: 1.928;
  letter-spacing: .5px;
}

.inner__item a:hover {
  color: #f78434;
}

.item-name {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.523;
  letter-spacing: .5px;
  position: relative;
  z-index: 1;
}

.up-button {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display: none;
}

.up-button path {
  fill: #fff;
}

.grid__contact .up-button {
  margin-top: 40px;
}

.form {
  display: flex;
  background: #fff;
  box-shadow: 0 17px 42px rgba(0,0,0,.22);
  border-radius: 29px;
  width: 457px;
  height: 58px;
}

.form--active {
  box-shadow: 0 17px 42px rgba(247,132,52,.33);
}

.form__label {
  position: relative;
  display: flex;
  height: 100%;
  padding-left: 69px;
}

.form__label::before {
  position: absolute;
  top: 21px;
  left: 27px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url(../img/icons/mail.svg);
}

.form__input {
  margin-right: 26px;
}

.form__input::placeholder {
  color: #bbb;
}

.header {
  padding-bottom: 50px;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.header__text {
  max-width: 467px;
  padding-top: 127px;
}

.header__title {
  position: relative;
  margin-right: -160px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: .8px;
}

.header__p {
  margin-bottom: 42px;
}

.header__img img {
  border-radius: 40px 40px 40px 0;
}

.img-card {
  position: relative;
  width: 385px;
}

.img-card__img {
  border-radius: 20px 20px 0 20px;
}

.img-card--rounder .img-card__img {
  border-radius: 20px;
}

.img-card__info {
  position: absolute;
  right: -46px;
  bottom: 87px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.logo img {
  margin: 0 15px 2px 2px;
}

.mobile-nav {
  position: fixed;
  top: 10px;
  right: -200px;
  z-index: 9;
  display: block;
  width: 200px;
  height: 340px;
  padding: 30px;
  border-radius: 20px 0 0 20px;
  background-color: rgba(88,190,191,.97);
  transition: transform .4s ease-in;
}

.mobile-nav--active {
  transform: translateX(-100%);
}

.mobile-nav__list {
  padding-top: 40px;
}

.mobile-nav__item {
  margin-bottom: 20px;
}

.mobile-nav__link {
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #fff;
  transition: color .18s ease-in;
}

.nav {
  padding-top: 40px;
  padding-bottom: 36px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 42px;
}

.nav-list__link:hover {
  color: #f78434;
}

.nav-list__link--active {
  font-weight: 700;
  color: #f78434;
}

.provide {
  padding-top: 45px;
  padding-bottom: 77px;
}

.provide__row {
  display: flex;
  justify-content: center;
}

.provide__imgs {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 32px;
}

.provide__text {
  flex-shrink: 0;
  width: 374px;
  padding: 69px 138px 0 182px;
  box-sizing: content-box;
}

.provide__text p {
  letter-spacing: 1.08px;
  margin-bottom: 20px;
}

.provide__text p+p {
  margin-bottom: 40px;
}

.provide__title {
  margin-bottom: 20px;
}

.serve-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 88px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 40px 52px -22px rgba(0,0,0,.2);
  transition: background-color .18s ease-in,color .18s ease-in;
}

.serve-card:hover {
  color: #fff;
  background-color: #f78434;
}

.serve-card:hover .serve-card__icon {
  fill: #fff;
}

.serve-card:hover .button--serve {
  background-color: #fff;
  color: #f78434;
}

.serve-card__icon {
  margin-bottom: 15px;
  fill: #f78434;
  transition: fill .18s ease-in;
}

.serve-card__title {
  margin-bottom: 2px;
}

.serve-card__p {
  margin-bottom: 25px;
}

.serve {
  position: relative;
  padding-top: 72px;
  padding-bottom: 56px;
}

.serve::before {
  content: "";
  display: block;
  width: 100%;
  height: 704px;
  background-color: #f5f6fa;
  position: absolute;
  top: -305px;
  z-index: -1;
}

.serve__heading {
  margin-bottom: 45px;
  text-align: center;
}

.heading__p {
  margin-bottom: 15px;
}

.serve__title {
  margin-bottom: 10px;
}

.serve__card-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  transition: box-shadow .18s ease-in;
}

.testimonials-card:hover {
  box-shadow: 0 10px 52px rgba(0,0,0,.08);
}

.testimonials-card:hover .testimonials-card__city {
  color: #f78434;
}

.testimonials-card:hover .testimonials-card__button-play {
  transform: translateY(0);
  opacity: 1;
}

.testimonials-card__img {
  position: relative;
  margin-bottom: 23px;
}

.testimonials-card__img img {
  display: inline-block;
}

.testimonials-card__button-play {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: translateY(25%);
  opacity: 0;
  transition: transform .2s ease-in,opacity .2s ease-in;
}

.testimonials-card__button-svg circle {
  fill: #fff;
  transition: fill .18s ease-in;
}

.testimonials-card__button-svg path {
  fill: #f78434;
  transition: fill .18s ease-in;
}

.testimonials-card__button-svg:hover circle {
  fill: #f78434;
}

.testimonials-card__button-svg:hover path {
  fill: #fff;
}

.testimonials-card__text {
  padding: 0 29px;
}

.testimonials-card__description {
  margin-bottom: 23px;
}

.testimonials-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: .6px;
}

.testimonials-card__city {
  color: #58bebf;
}

.testimonials {
  padding-top: 86px;
  padding-bottom: 42px;
}

.testimonials__block {
  position: relative;
  left: -20px;
}

.testimonials__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 57px;
}

.testimonials__title {
  max-width: 454px;
}

.testimonials__subtitle {
  max-width: 398px;
}

.testimonials__card-row {
  position: relative;
  display: flex;
  column-gap: 30px;
}

.testimonials__card-row::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -40px;
  width: 80px;
  height: 80px;
  background-image: url(../img/testimonials/design-element.svg);
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.476;
  letter-spacing: .8px;
}

@media (min-width:1440px) {
  .contact__img {
    width: 478px;
  }

  .contact__img--bgnd {
    width: 743px;
  }
}

@media (min-width:1600px) {
  .contact__img {
    left: 98px;
  }
}

@media screen and (max-width:1495px) {
  .provide__row {
    justify-content: flex-end;
  }
}

@media (max-width:1439.8px) {
  .provide__text {
    padding: 69px 130px 0 130px;
  }
}

@media (max-width:1279.8px) {
  .benefits__h3 {
    font-size: 25px;
  }

  .benefits {
    padding: 45px 0;
  }

  .clients {
    padding: 45px 0;
  }

  .contact {
    padding-bottom: 0;
  }

  .cta {
    padding: 45px 0;
  }

  .cta__text {
    padding-top: 60px;
  }

  .footer__social {
    margin-right: 0;
  }

  .header__img {
    max-width: 700px;
  }

  .img-card {
    max-width: 340px;
  }

  .img-card__img {
    border-radius: 20px 20px 0 0;
  }

  .img-card--rounder .img-card__img {
    border-radius: 20px 20px 0 0;
  }

  .img-card__info {
    right: unset;
    left: -170px;
    bottom: 150px;
  }

  .provide {
    padding: 45px 0;
  }

  .provide__row {
    flex-direction: column;
    align-items: center;
  }

  .provide__imgs {
    column-gap: 210px;
  }

  .provide__text p+p {
    margin-bottom: 25px;
  }

  .provide__text {
    width: 685px;
    padding: 40px 0 0;
    text-align: center;
  }

  .serve {
    padding: 45px 0;
  }

  .testimonials-card {
    max-width: 100%;
    flex-direction: row;
  }

  .testimonials-card:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .testimonials-card:nth-child(odd) .testimonials-card__text {
    direction: rtl;
  }

  .testimonials-card__text {
    max-width: 500px;
  }

  .testimonials {
    padding: 45px 0;
    border-radius: 40px;
    background-color: rgba(247,132,52,.1);
  }

  .testimonials__block {
    position: static;
  }

  .testimonials__card-row {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__card-row::after {
    top: -40px;
    left: 40px;
    transform: rotate(-90deg);
  }

  .title {
    font-size: 38px;
  }
}

@media (max-width:1023.8px) {
  body p,
  html p {
    font-size: 14px;
    letter-spacing: normal;
  }

  .benefits__heading {
    margin-bottom: 45px;
  }

  .benefits__card-row {
    grid-template-columns: repeat(2,1fr);
    column-gap: 70px;
    row-gap: 45px;
  }

  .card-info {
    max-width: 260px;
    height: 120px;
    padding: 20px 15px;
  }

  .card-info__text p {
    letter-spacing: .5px;
  }

  .clients__img {
    width: 22vw;
  }

  .contact__img {
    width: 33.19vw;
    left: -100px;
  }

  .contact__img--bgnd {
    left: -212px;
  }

  .cta__block {
    flex-direction: column;
    align-items: center;
  }

  .cta__img img {
    border-top: 0;
    border-right: 0;
    border-top-right-radius: 20px;
    border-bottom: 24px solid #fff;
    border-left: 24px solid #fff;
    border-bottom-left-radius: 21.6px;
  }

  .cta__img {
    align-self: end;
    width: 510px;
    margin-top: 0;
  }

  .cta__text-wrap {
    align-self: stretch;
    padding-left: 140px;
  }

  .cta__text {
    text-align: center;
    padding-top: 40px;
    padding-right: 0;
  }

  .cta__button-row {
    margin-bottom: 40px;
    margin-left: 50px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__inner {
    grid-template-columns: repeat(3,auto);
    row-gap: 45px;
    grid-template-areas: "privacy legal contact" "social social social";
    justify-items: center;
  }

  .footer__inner .grid__social {
    grid-area: social;
  }

  .footer__inner .grid__privacy {
    grid-area: privacy;
  }

  .footer__inner .grid__legal {
    grid-area: legal;
  }

  .footer__inner .grid__contact {
    grid-area: contact;
  }

  .footer__social {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .social__descript {
    max-width: 550px;
    margin-bottom: 0;
    font-size: 11px;
  }

  .footer__logo {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .social__media {
    margin-left: 20px;
  }

  .form {
    width: 378px;
  }

  .form__label::before {
    left: 18px;
  }

  .form__label {
    padding-left: 53px;
    width: 68%;
  }

  .form__input {
    font-size: 14px;
    margin-right: 7px;
  }

  .header {
    padding-bottom: 4vw;
  }

  .header__text {
    max-width: 45.94vw;
    padding-top: 4vw;
  }

  .header__title {
    font-size: 5.21vw;
    margin-bottom: 20px;
  }

  .header__p {
    margin-bottom: 70px;
  }

  .header__img {
    width: 42.8vw;
  }

  .img-card {
    max-width: 290px;
  }

  .img-card__info {
    left: -210px;
    bottom: 100px;
  }

  .nav-list {
    letter-spacing: -.7px;
  }

  .nav-list__item:not(:last-child) {
    margin-right: 2.6666666667vw;
  }

  .provide__imgs {
    column-gap: 140px;
  }
}

@media (max-width:767.8px) {
  .benefits-card {
    max-width: 285px;
  }

  .benefits__h3 {
    font-size: 21px;
  }

  .benefits {
    padding: 30px 0;
  }

  .benefits__heading {
    margin-bottom: 25px;
  }

  .burger-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-info {
    padding: 0 10px;
    height: 95px;
  }

  .card-info__text p {
    font-size: 14px;
    line-height: 1.2;
  }

  .clients {
    padding: 30px 0;
  }

  .clients__row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    column-gap: 10px;
    row-gap: 25px;
  }

  .clients__img {
    width: 60%;
  }

  .contact {
    margin-top: 60px;
  }

  .img-wrapper {
    left: 135px;
  }

  .contact__img {
    width: 40vw;
    left: -110px;
  }

  .contact__img--bgnd {
    left: -178px;
  }

  .cta {
    padding: 30px 0;
  }

  .cta__img {
    border-bottom-left-radius: 20px;
  }

  .cta__img img {
    border-left: 24px solid #fff;
    border-bottom-left-radius: 20px;
  }

  .cta__img {
    width: 470px;
  }

  .cta__text-wrap {
    padding-left: 0;
  }

  .cta__text {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .cta__button-row {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__social {
    flex-direction: column;
  }

  .social__descript {
    margin-bottom: 35px;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .social__media {
    margin-left: 0;
  }

  .inner__item {
    padding-top: 0;
  }

  .inner__item li {
    margin-bottom: 10px;
  }

  .inner__item a {
    font-size: 13px;
    line-height: 1;
  }

  .item-name {
    margin-bottom: 7px;
  }

  .header__title {
    position: static;
    margin-right: -80px;
    font-size: 34px;
  }

  .header__p {
    margin-bottom: 30px;
  }

  .img-card--rounder .img-card__img {
    border-radius: 20px;
  }

  .img-card__info {
    left: 15px;
    bottom: -60px;
  }

  .nav {
    padding: 30px;
  }

  .nav-list {
    display: none;
  }

  .provide {
    padding: 30px 0;
  }

  .provide__imgs {
    grid-template-columns: 1fr;
  }

  .provide__text {
    max-width: 370px;
    margin-top: 50px;
  }

  .serve {
    padding: 30px 0;
  }

  .serve__card-row {
    flex-direction: column;
  }

  .testimonials-card {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .testimonials-card:last-child {
    margin-bottom: 0;
  }

  .testimonials-card:nth-child(odd) {
    flex-direction: column;
  }

  .testimonials-card:nth-child(odd) .testimonials-card__text {
    direction: ltr;
  }

  .testimonials-card__img {
    margin-bottom: 7px;
  }

  .testimonials-card__text {
    padding: 0;
    max-width: 350px;
  }

  .testimonials__heading {
    flex-direction: column;
  }

  .testimonials__title {
    text-align: center;
    margin-bottom: 30px;
  }

  .testimonials__subtitle {
    direction: rtl;
  }

  .title {
    font-size: 35px;
  }
}

@media (max-width:719.8px) {
  .clients {
    padding-top: 8px;
  }

  .clients__img {
    width: 70%;
  }

  .wrap {
    flex-direction: column;
  }

  .img-wrapper {
    align-self: center;
  }

  .contact__img {
    width: 38vw;
    left: -111px;
  }

  .footer__inner {
    column-gap: 10px;
  }

  .header {
    padding-bottom: 50px;
  }

  .header__row {
    position: relative;
  }

  .header__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    height: 600px;
    margin-top: 50px;
  }

  .header__title {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .header__p {
    margin-bottom: 140px;
  }

  .header__img img {
    border-radius: 40px 40px 0 0;
  }

  .header__img {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
    opacity: .55;
  }
}

@media (max-width:480.8px) {
  .contact {
    margin-top: 0;
  }

  .wrap {
    padding-bottom: 100px;
  }

  .img-wrapper {
    bottom: -63px;
  }

  .contact__img {
    width: 42vw;
    left: -125px;
  }

  .contact__img--bgnd {
    width: 60vw;
    left: -196px;
  }

  .footer {
    padding: 20px 0;
  }
}

@media (max-width:479.8px) {
  body p,
  html p {
    font-size: 13px;
  }

  .benefits__h3 {
    font-size: 19px;
  }

  .benefits__card-row {
    max-width: 400px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .clients {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .clients__row {
    grid-template-columns: 1fr;
  }

  .clients__img {
    width: 55%;
  }

  .img-wrapper {
    bottom: -72px;
  }

  .cta__img img {
    border: 0;
    border-bottom: 15px solid #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
  }

  .cta__img {
    width: 100%;
  }

  .cta__text-wrap {
    background: url(../img/cta/oval-bottom-left.svg) bottom right -186px no-repeat;
  }

  .cta__text-wrap::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -60px;
    left: -160px;
    transform: rotate(90deg);
    background: url(../img/cta/oval-top.svg) no-repeat;
  }

  .cta__text {
    max-width: 290px;
  }

  .cta__button-row {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .footer__inner {
    grid-template-columns: 1fr;
    row-gap: 0;
    grid-template-areas: "privacy" "legal" "contact" "social";
  }

  .footer__social {
    margin-top: 30px;
  }

  .item-name {
    margin-bottom: 0;
    font-size: 20px;
  }

  .item-name::before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    top: 30%;
    left: -14px;
    transform: rotate(90deg);
    background: url(../img/icons/play.svg) no-repeat;
  }

  .item__list {
    position: absolute;
    top: -500px;
    left: 50%;
    z-index: 5;
    transform: translate(-50%,0);
    width: 166px;
    height: 200px;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: rgba(88,190,191,.97);
    transition: transform .3s;
  }

  .inner__item.active>.item__list {
    transform: translate(-50%,500px);
  }

  .up-button {
    display: block;
  }

  .form {
    max-width: 300px;
    height: 35px;
    position: relative;
  }

  .form__label::before {
    top: 8px;
    font-size: 24px;
  }

  .form__input {
    margin: 0;
  }

  .header__text {
    max-width: 300px;
    height: unset;
  }

  .header__title {
    font-size: 32px;
  }

  .header__p {
    margin-bottom: 20px;
  }

  .header__img {
    width: 319px;
  }

  .header__button {
    position: absolute;
    top: 50px;
    left: 81px;
    width: 130px;
    height: 40px;
    line-height: 33px;
  }

  .nav {
    padding: 30px 0;
  }

  .provide__text {
    max-width: 300px;
  }

  .testimonials__card-row::after {
    top: -50px;
    left: 10px;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width:449.8px) {
  .contact {
    padding-top: 130px;
  }

  .wrap {
    padding-bottom: 72px;
  }

  .contact__info {
    width: 270px;
  }
}

@media (max-width:319.8px) {
  .contact {
    padding-top: 100px;
  }

  .cta__text {
    max-width: 250px;
  }

  .header__form {
    max-width: 250px;
  }

  .header__button {
    left: 59px;
  }

  .provide__text {
    max-width: 280px;
  }

  .serve-card {
    padding: 30px;
  }

  .title {
    font-size: 28px;
  }
}